*{
    margin: 0;
box-sizing: border-box;
}

.listas2{
    width: 100%;
    height: 100vh;
}
.containerJugos{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.firstImage{
    flex-basis: 50%;
    background-image: url("/fotos/MARCO_OFERTAS.png");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.secondImage{
    flex-basis: 50%;
    background-image: url("/fotos/MARCO_OFERTAS2.png");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}